<configuration>
  <appSettings>
    <add key="SystemFramework.ConnectionString" value="keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKSoOIMx+F5+gTMCaU1WSKmJegt2j3DlCkNQWed9Nj3wcTVi4qYUP13xa8+9MHSTqIL+1Mi7KvWTQ=" />
    <!--  
		SSERVIDOR - ErpPrincipal			  - value = "l79z+MlzAmkvAu+14QiQDcm+Iw6GrIL0EG04Zk1MWrXO7L7LnNC0fUMqmQHC+ZddQ3dk6eMeMMfXm3XdhZCCghFhP1GcUgcq3kY82mGdC70="		
	  ERPXEON	  - ErpPrincipal			  - value = "l79z+MlzAmkvAu+14QiQDeRLMri+ydX9B1+EQ62c95kmaSwjRAUXuSiEjooCAYUzeRv4Hr3/xn+4uSzgqdLhX0Eg/hROWazcoWz+pZBgrkybzE0HGmGYlw=="
		ERPSERVER - ErpPrincipal			  - value = "l79z+MlzAmkvAu+14QiQDeRLMri+ydX9B1+EQ62c95kmaSwjRAUXuSiEjooCAYUzeRv4Hr3/xn+4uSzgqdLhX0Eg/hROWazcDFBRcNRx+EmrBMAwKlTvVQ=="
		ERPSERVER - ErpPrincipalFX			  - value = "l79z+MlzAmkvAu+14QiQDeRLMri+ydX9B1+EQ62c95kmaSwjRAUXuSiEjooCAYUzsKrFreMrfl9vqzCAoEn5elyGCwKtI4IFDlZ/vhhA0hm0ITKRVKLuZw=="
		ERPSERVER - ErpPrincipalPedro		  - value = "l79z+MlzAmkvAu+14QiQDeRLMri+ydX9B1+EQ62c95kmaSwjRAUXuSiEjooCAYUzsKrFreMrfl+eHWEccZdMlJt5suQz2trjxMFrE7GTmI0t0AtfJOALffp79lIx/RHr"
		ERPSERVER - ErpPrincipalParma         - value = "l79z+MlzAmkvAu+14QiQDeRLMri+ydX9XF+xaoVtajtwpdtw2O1KLVML8NCzCmqMGVKI9glh3a0hzLIiG8pHCQkXnW8DceaYY9D0+c9GN2/wEPU32DQzbQRqOBvgUTHV"
		ERPSERVER - ErpPrincipalViasur        - value = "l79z+MlzAmkvAu+14QiQDZVjT6DFZNHcs1FXpLZJK8ckL8SH6nArDJHdIpTEwZ1RS5Xo+M9w0bcLSAjUAdi8iCzMhlbOAWYoOH2t4ErApbXJGTkURkh7EW7cbM2guc03"
		ERPSERVER - ErpPrincipalMZ            - value = "l79z+MlzAmkvAu+14QiQDeRLMri+ydX9B1+EQ62c95kmaSwjRAUXuSiEjooCAYUzeRv4Hr3/xn82j3E5r479QAm9a3fTTzZcNti0/81yNiC0v9axwjUaiA=="
		ERPSERVER - ErpPrincipalFerguson      - value = "l79z+MlzAmkvAu+14QiQDZVjT6DFZNHcs1FXpLZJK8ckL8SH6nArDJHdIpTEwZ1RS5Xo+M9w0beQWqlNit3EWRG/CmZ8gFoeZA0I9fh1vVymx/Ka7uz7oSLTSBFYaWL+"
		ERPSERVER - ErpPrincipalVanchevich    - value = "l79z+MlzAmkvAu+14QiQDZVjT6DFZNHcs1FXpLZJK8ckL8SH6nArDJHdIpTEwZ1RS5Xo+M9w0bcLSAjUAdi8iM5gRZiK/EoenxHm4SNxhcStEIABNXGK2jkl4hxgvQ/XpEzMBW2uFGk="
		SERVER2	  - l79z+MlzAmkvAu+14QiQDeRLMri+ydX9B1+EQ62c95kmaSwjRAUXuSiEjooCAYUzsKrFreMrfl8rgLX4AGfLWSJZPo+xmpueVqyqWuRqXaqxX5OmlX1thA==
		ERPSERVER - ErpPrincipalMueblesFuturo - value = "l79z+MlzAmkvAu+14QiQDZVjT6DFZNHcs1FXpLZJK8ckL8SH6nArDJHdIpTEwZ1RS5Xo+M9w0beuTqNp1pxkDp+37HxMsEo/8Wp9X2Q1zXszAMH9XfzKV+vfjA1R6mvnVVknpTmiOW8="
    ERPSERVER - ErpPrincipalLegacy        - value = "l79z+MlzAmkvAu+14QiQDZVjT6DFZNHcs1FXpLZJK8ckL8SH6nArDJHdIpTEwZ1RS5Xo+M9w0bcMGxkkos3ww+XCS2BVtTagCDpJ6LiLnPg1UcS39jpRgSKBS5NhKmXW"
  
    10.1.254.102 - ErpPrincipal                 - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKrH8w/tTc4KI50uM37L/Zy3M46N/crEfTb0fr7FDiXkrFDIfKkz8zzZn3f0VLZHkY"
    10.1.254.102 - ErpPrincipalAgnone           - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKuX8J+Cl2/StEd2LOWrxFli16X3uU4ttZqe+O4kiQwT/XgoCJUFI1tRbh6oA2mPbnD7ZnKTg+TXQ="
    10.1.254.102 - ErpPrincipalAMAAna           - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKI3W/HXB2RtG42FHewcQf/vTC92CQLguTWy0I/PwXwOUjePflRZiaKHjqF4eiN9luZPbUb8Kfl7I="
    10.1.254.102 - ErpPrincipalAMACeleste       - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKI3W/HXB2RtEdh3I8ktAsEO7n45bX6kcDOxaoilDCKLNOBfxh869dtKxPpJy6koGOKmVxyss3dvw="
    10.1.254.102 - ErpPrincipalBedCollection    - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNK4KKJRwB3dOrASMaJXoNZJP54dIVj9NrEOmr97/jBQWNlUx8OTQ253PJslUPdSnPFNM4BtCMUvSsLf6sTBZXBaA=="
    10.1.254.102 - ErpPrincipalBuglioSP11       - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKaRHHbpdbsEKZemlNSlYtIWn0Eha/O8OL6jmhWC/y2d+S/ncdURyOZNikoeJ9TxBq925COwkaF0g="
    10.1.254.102 - ErpPrincipalClassicCajita    - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKFFa0NCfXpTcbfzJioz99Ofqzovn66g1x9v25YNX9QhdIDpUyaY714dWZ4hYgKzjFCjvhZ3NjeAGK1ygZVQPfaw=="
    10.1.254.102 - ErpPrincipalClassicV2        - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKFFa0NCfXpTcnaC76tiRFpncwTelFkTigijExR9pcW/yXER45Ucpa7lbTJ9CQZupRZi5syKyXVQ4="
    10.1.254.102 - ErpPrincipalChamal           - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKHG1BKw6EwZvPA2la3YrOM12C3NCEErU1lY5UQM0p5hAw43TrVL+wvHfdpc7fYO5Yb9TXvjZAwbs="
    10.1.254.102 - ErpPrincipalChamalSP16       - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKHG1BKw6EwZvcuuwR4Yn3iFJcV9XZI1A0AF2r3qSi2FcyevF7toXBkVuSgofvy9R8eKjc/GSsvOU="
    10.1.254.102 - ErpPrincipalCrignola         - value = "l79z+MlzAmkvAu+14QiQDY/YqyTjalyf6ngNia1sedXdqRfQM8/GoWlyVXYhPDqU7D0v7FJA4Xhcs/ZzOZidMdYzc87WStRZF05Xztp5ZEXK+tIv7KcrTvp8tZKUwOW3zWY2v92jv5M="
    10.1.254.102 - ErpPrincipalDaipint          - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNK78ulorZt7pF9Dl6TUfh3J3KIzTuHw6OxYemXkElcQbwaQi0FsH7gKMY5iihWbpSowgIdHi612EE="
    10.1.254.102 - ErpPrincipalDesarrollo       - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKNTdWksWGip/nwOntgz+uU6Yyf2bgQ8i4+lNXCLS/RPz6TKwgRN6t1yp5cctQsR7J//EeJM7zsUw="
    10.1.254.102 - ErpPrincipalDistribuidoraInsumos - value="keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKbWeYmNxLHF3Mk9PLsrZBbRXqT8Lbr/b8D6RkPOrsjCWZvHQgC1aq3+nfLv1qoLsqSib5+fChZfujycFYkYFNYA=="
    10.1.254.102 - ErpPrincipalElectroOnce      - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKLLFjeGeK1qplVDC+SdQNY+VMvaJRgJBeFfCziE+7GmMFwdN0pVnucyBcpiKpm4Ctf0coRme+Pc8="
    10.1.254.102 - ErpPrincipalJugueTrece       - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKLVIILViQmCaie0MEwBb+OGzTS3hAWSUX4k0PcWIk7kiYd0aED8YLFkUrwG1IW8fXUE+t/TMWkEc="
    10.1.254.102 - ErpPrincipalLegacy48         - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNK5TSYeHB1tWvbB9eG1luAG6DzXsLfsZ1FHGHxIRU6clvidYdm7AO2h+MQzukyNo9xXHzYqR5QW28="
    10.1.254.102 - ErpPrincipalLegacyCityBell   - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNK5TSYeHB1tWu9q1w6G2B73Gk+y9fUFsA0OmA/0kjUVR9mUq4YivTksiwFiheRTXhuXIcOdDG/RDG8HUylJIfrFg=="
    10.1.254.102 - ErpPrincipalMaqui            - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKbC5yZSfFAKdiuQOjsFS8RyRd/Rt6T5rRScxb07It1zKvltBdMPjq3p7N3azUHEHbY8qkCu1eEVQ="
    10.1.254.102 - ErpPrincipalMZ               - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKOvr786Sf6m1R9v7tHPFqZmcgp8ewliTW7AaY+JdfOBdy26ira6pmX1Js4hSMwyeJ"
    10.1.254.102 - ErpPrincipalMZSPrueba        - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKd6fY1plycVr8sHi//Edo97yXdUmInw79DzLE1GSpOSIDCDKREDv70FceHiLdy31aEhKvNfttqzw="
    10.1.254.102 - ErpPrincipalPruebaSP18       - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKXPjNgC7PMrmDx7JTustofgASU9YakDngyFdruXqNpb1EjESmiBwnG03x9Ul7dZCCPgyhBwSo2cI="   
    10.1.254.102 - ErpPrincipalServiGarden      - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKoBzJi6H/FgmL2PoxFT+Ug8ZHkBec9DCEOA7Kjy2LdwqFth75fZMLy9I0f9346R+5xnwpUJxzaOU="
    10.1.254.102 - ErpPrincipalServiGardenPrueba  - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKoBzJi6H/FgmL2PoxFT+Ug3QZR1yAtcRJarB/GEv1wco6qaiHo1emSdw/6otY/ODDnraDbixY2PO6+yLahyVl9Q=="
    10.1.254.102 - ErpPrincipalServiGardenSP16  - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKoBzJi6H/FgmL2PoxFT+Ug/U1e/CSB8LDS+1+mdbdxyC4jStuQ7hAZBu5mkFL2klOjp2aAZOYbGqM30PSY06HZw=="
    10.1.254.102 - ErpPrincipalSP18             - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKjcj20cFaEKP8X9sFG7X+WcD/yWKJq5IreqCUFo8Scnax03J98pwSxDBpnKvfKog5"
    10.1.254.102 - ErpPrincipalTanzi            - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKIuN/8jZvtTcFkOGaSGNn/41l6uFjPwXQIiVEWI/roVa02F+BWCQToXfZTXXqlKR0aaA8008IKnE="
    10.1.254.102 - ErpPrincipalVersatilClassic  - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKvfRhypMRqzwsdUWHcDGdOhfPeuAW9MREj5mrjbzPxKRKEHDg4+GUVY45RZTa9cmNu9+fDjlkWnWkWOyKOE6NIA=="
    10.1.254.102 - ErpPrincipalVersatilSP17     - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKvfRhypMRqzwusyxC+Xny04yHzSLaPvp6AdFXth+sioyI0dV4YS4ntMwT9pkYr1618KM05DmnsD8="
    10.1.254.102 - ErpPrincipalViegas           - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNK/UMiEjdfQBsgwzz/tbMZqzo0mb33LyD9JVgUJenlnZdRkZuVDbF3YNF3JZfvq4pXJQ++KPxo3lA="
    10.1.254.102 - ErpPrincipalZingaro          - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKA9tE/eFaX98/+k3DsDk8yOS3SrsBJO34m1/+46Z5xivDy8XSEnG2mseQ/O3W3/SeZNeAKsIt3EY="
    10.1.254.102 - ErpPrincipalRissoJavier      - value = "keOQ0iLdq3u8twTxYJN3RVyJliztDdH2KDBCdyRwrArCmSufISNT1iqUGle+9UNKdsRTSlxYlrCTSMb1ymomv2IcwDVrgUW+pH+TTQ+tj/bFwd3S5USkEsFvNyrmHAFOdkroIhcSXa4="
	    -->
    <add key="SystemFramework.Tracing.Enabled" value="True" />
    <add key="SystemFramework.Tracing.TraceFile" value="mz.erp.applicationtrace.txt" />
    <add key="SystemFramework.Tracing.TraceLevel" value="4" />
    <add key="SystemFramework.Tracing.SwitchName" value="mz.erp.trace.switch" />
    <add key="SystemFramework.Tracing.SwitchDescription" value="Seguimiento para Mz.Erp" />
    <add key="SystemFramework.EventLog.Enabled" value="True" />
    <add key="SystemFramework.EventLog.Machine" value="." />
    <add key="SystemFramework.EventLog.SourceName" value="mz.erp" />
    <add key="SystemFramework.UserAccount.Source" value="WindowsSAM" />
    <!-- 0 = Off, 1 = Error, 2 = Warning, 3 = Info, 4 = Verbose -->
    <add key="SystemFramework.EventLog.LogLevel" value="4" />
    <add key="SystemFramework.Puesto" value="1" />
    <!--add key="UnhandledExceptionMan ager/EmailTo" value="sistemas@mzinformatica.com" /-->
    <!--add key="UnhandledExceptionManager/Server" value="10.1.254.239" /-->
    <!--add key="UnhandledExceptionManager/Puerto" value="25" /-->
    <add key="UnhandledExceptionManager/ContactInfo" value="Sistemas en (0221)422-9146" />
    <add key="UnhandledExceptionManager/IgnoreDebug" value="False" />
    <add key="UnhandledExceptionManager/LogToEventLog" value="True" />
    <add key="UnhandledExceptionManager/KillAppOnException" value="False" />
    <!--add key="UnhandledExceptionManager/LogToDB" value="True" /-->
    <add key="DataDynamicsARLic" value="DD-APN-10-C001733,DD-APN-10-C001733,DD-APN-10-C001733,KY6YXYQBTY19M23KJCY2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <!-- Configuracion de carpetas Librerias y ensamblados  -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="/lib;/Assemblies;../lib;../Assemblies" />
    </assemblyBinding>
  </runtime>
</configuration>