<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <add key="SystemFramework.Tracing.Enabled" value="True" />
    <add key="SystemFramework.Tracing.TraceFile" value="c:\mz.erp.applicationtrace.txt" />
    <add key="SystemFramework.Tracing.TraceLevel" value="4" />
    <add key="SystemFramework.Tracing.SwitchName" value="GoNetTraceSwitch" />
    <add key="SystemFramework.Tracing.SwitchDescription" value="Seguimiento para GoNet" />
    <add key="SystemFramework.EventLog.Enabled" value="True" />
    <add key="SystemFramework.EventLog.Machine" value="." />
    <add key="SystemFramework.EventLog.SourceName" value="GoNet" />
    <add key="SystemFramework.UserAccount.Source" value="WindowsSAM" />
    <!-- Use the standard TraceLevel values:
             0 = Off
             1 = Error
             2 = Warning
             3 = Info
             4 = Verbose -->
    <add key="SystemFramework.EventLog.LogLevel" value="4" />
</configuration>
