<?xml version="1.0" encoding="utf-8"?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SQLType>StoredProcedure</SQLType>
<SQL>Pr_tfi_ListadoRetencionesDetallado</SQL>
<CreatedDateTime>2005-03-21T10:18:42.8739936-03:00</CreatedDateTime>
   <ParametersSQL>
	<ReportParameterConfig>
		<Nombre>@Fecha_ini</Nombre>
		<Descripcion>Representa la fecha de inicio</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<Orden>1</Orden>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<ControlUIType>
			<LabelText>Fecha Desde</LabelText>
			<ControlType>System.DateTime</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	
	<ReportParameterConfig>
		<Nombre>@Fecha_fin</Nombre>
		<Descripcion>Representa la fecha de fin</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>2</Orden>
		<ControlUIType>
			<LabelText>Fecha Hasta</LabelText>
			<ControlType>System.DateTime</ControlType>
		</ControlUIType>
	</ReportParameterConfig>

	
	<ReportParameterConfig>
		<Nombre>@retenciones</Nombre>
		<Descripcion>Representa la/s retencion/es que se contemplaran en el listado</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>1</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>3</Orden>
		<ControlUIType>
			<LabelText>Tipo de retención</LabelText>
			<ControlType>mzComboEditor</ControlType>
			<UIType>mz.erp.ui.forms.classes.tsy_TiposDeRetenciones</UIType>
			<PrimaryKey>IdTipoDeRetencion</PrimaryKey>
			<Description>Descripcion</Description>
		</ControlUIType>
	</ReportParameterConfig>
	
	<!--
	<ReportParameterConfig>
		<Nombre>@retenciones</Nombre>
		<Descripcion>Representa la/s retencion/es que se contemplaran en el listado</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>Ganancia,Ingresos Brutos</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>3</Orden>
		<ControlUIType>
			<LabelText>Tipo de retención</LabelText>
			<ControlType>System.String</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	-->
   </ParametersSQL>
</ReportConfig>