<?xml version="1.0" encoding="utf-8"?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SQLType>StoredProcedure</SQLType>
<SQL>Pr_tfi_Cajas_CobranzasYPagos</SQL>
<CreatedDateTime>2005-03-21T10:18:42.8739936-03:00</CreatedDateTime>
<ParametersSQL>
	<ReportParameterConfig>
		<Nombre>@IdCaja</Nombre>
		<Descripcion>Representa las cajas que se quieren listar</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>1</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@FechaApertura</Nombre>
		<Descripcion>Representa la fecha de apertura de las cajas a listar</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<Valor>null</Valor>
		<Orden>2</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@FechaCierre</Nombre>
		<Descripcion>Representa la fecha de cierre de las cajas a listar</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<Valor>null</Valor>
		<Orden>3</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdResponsable</Nombre>
		<Descripcion>Representa los responsables asignados a las cajas a listar</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>4</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdTipoDeMovimiento</Nombre>
		<Descripcion>Representa los tipos de movimientos a listar</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>5</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@EstadoCajas</Nombre>
		<Descripcion>Indica si se selecciona solamente las cajas abiertas, cerradas o todas</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>6</Orden>
	</ReportParameterConfig>

</ParametersSQL>
</ReportConfig>