TiposDeCompVentas<?xml version="1.0" encoding="utf-8"?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SQLType>StoredProcedure</SQLType>
<SQL>Pr_tsa_ImpuestosComprobantes_GetImpuestos</SQL>
<CreatedDateTime>2005-03-21T10:18:42.8739936-03:00</CreatedDateTime>
<ParametersSQL>
	<ReportParameterConfig>
		<Nombre>@dDesde</Nombre>
		<Descripcion>Representa la fecha de inicio</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<Orden>1</Orden>
		<ValorPorDefecto>null</ValorPorDefecto>
		<VariableSistema>false</VariableSistema>
		<ControlUIType>
			<LabelText>Fecha Desde</LabelText>
			<ControlType>System.DateTime</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@dHasta</Nombre>
		<Descripcion>Reprresenta la fecha de fin</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<ValorPorDefecto>null</ValorPorDefecto>
		<VariableSistema>false</VariableSistema>
		<Orden>2</Orden>
		<ControlUIType>
			<LabelText>Fecha Hasta</LabelText>
			<ControlType>System.DateTime</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdImpuestoFijo1</Nombre>
		<Descripcion>Representa el Id de un de los tipos de Impuestos</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Orden>3</Orden>
		<ValorPorDefecto>IVA</ValorPorDefecto>
		<VariableSistema>false</VariableSistema>
	</ReportParameterConfig>
		<ReportParameterConfig>
		<Nombre>@IdImpuestoFijo2</Nombre>
		<Descripcion>Representa el Id de un de los tipos de Impuestos</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<ValorPorDefecto>IVADIF</ValorPorDefecto>
		<VariableSistema>false</VariableSistema>
		<Orden>4</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdImpuestoFijo3</Nombre>
		<Descripcion>Representa el Id de un de los tipos de Impuestos</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<ValorPorDefecto>IB</ValorPorDefecto>
		<VariableSistema>false</VariableSistema>
		<Orden>5</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdImpuestoFijo4</Nombre>
		<Descripcion>Representa el Id de un de los tipos de Impuestos</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<ValorPorDefecto>ImpInt</ValorPorDefecto>
		<VariableSistema>false</VariableSistema>
		<Orden>6</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdImpuestoFijo5</Nombre>
		<Descripcion>Representa el Id de un de los tipos de Impuestos</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<ValorPorDefecto>null</ValorPorDefecto>
		<VariableSistema>false</VariableSistema>
		<Orden>7</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@TiposDeCompVentas</Nombre>
		<Descripcion>Representa el conjunto de Comprobantes de Venta</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<ValorPorDefecto>Comprobantes.ComprobantesDeVenta</ValorPorDefecto>
		<VariableSistema>true</VariableSistema>
		<Orden>8</Orden>
	</ReportParameterConfig>
</ParametersSQL>
<ParametersReport>
	<ReportParameter>
		<ParameterName>Impuestos</ParameterName>
		<ParameterValue>IVA,IVADIF,IB,IMPINT</ParameterValue>
	</ReportParameter>
</ParametersReport>
</ReportConfig>