<?xml version="1.0" encoding="utf-8"?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SQLType>StoredProcedure</SQLType>
<SQL>Pr_tsh_Productos_GetListaDePrecio</SQL>
<CreatedDateTime>2005-03-21T10:18:42.8739936-03:00</CreatedDateTime>
<ParametersSQL>
	<ReportParameterConfig>
		<Nombre>@IdMoneda</Nombre>
		<Descripcion>Representa la fecha de inicio</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Orden>1</Orden>
		<Valor>1</Valor>
		<VariableSistema>false</VariableSistema>
	</ReportParameterConfig>
		<ReportParameterConfig>
		<Nombre>@IdFuenteDeCambio</Nombre>
		<Descripcion>Representa la fecha de fin</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>1</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>2</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdMonedaReferencia </Nombre>
		<Descripcion>Representa el conjunto de Comprobantes de Venta</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>1</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>3</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@Descripcion</Nombre>
		<Descripcion>Producto</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor></Valor>
		<Orden>4</Orden>
		<VariableSistema>false</VariableSistema>
		<ControlUIType>
			<LabelText>Producto</LabelText>
			<ControlType>System.String</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
</ParametersSQL>
</ReportConfig>