<?xml version="1.0" encoding="utf-8"?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SQLType>StoredProcedure</SQLType>
<SQL>Pr_tfi_InstanciasCaja_CierreCaja_Reporte</SQL>
<CreatedDateTime>2005-03-21T10:18:42.8739936-03:00</CreatedDateTime>
<ParametersSQL>
	<ReportParameterConfig>
		<Nombre>@IdInstanciaCaja</Nombre>
		<Descripcion>Representa la instancia de Caja que se acaba de cerrar</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>1</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdComprobantesValidosCaja</Nombre>
		<Descripcion>Representa los tipos de comprobantes validos par ala caja</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>RE,DEP</Valor>
		<Orden>2</Orden>
	</ReportParameterConfig>
<ReportParameterConfig>
		<Nombre>@IdMovimientosValidosCaja</Nombre>
		<Descripcion>Representa los tipos de movimientos validos para la caja</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>1,2,3,4,5,40,42</Valor>
		<Orden>3</Orden>
	</ReportParameterConfig>
</ParametersSQL>
</ReportConfig>