<?xml version="1.0" encoding="utf-8"?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SQLType>StoredProcedure</SQLType>
<SQL>Pr_tsa_Cuentas_Search</SQL>
<CreatedDateTime>2005-03-21T10:18:42.8739936-03:00</CreatedDateTime>
<ParametersSQL>
	<ReportParameterConfig>
		<Nombre>@Codigo</Nombre>
		<Descripcion>Representa la Identifcacion de la cuenta</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>1</Orden>
		<ControlUIType>
			
				<LabelText>Codigo</LabelText>
				<ControlType>System.String</ControlType>
			
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@Nombre</Nombre>
		<Descripcion>Nombre del Cliente</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>2</Orden>
		<VariableSistema>false</VariableSistema>
		<ControlUIType>
			<LabelText>Nombre</LabelText>
			<ControlType>System.String</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@Domicilio</Nombre>
		<Descripcion>Dimicilio del Cliente</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>3</Orden>
		<ControlUIType>
			<LabelText>Domicilio</LabelText>
			<ControlType>System.String</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@idTipoDocumento</Nombre>
		<Descripcion>Tipo de Documento del Cliente</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>4</Orden>
		<ControlUIType>
			<LabelText>Tipo de Documento</LabelText>
			<ControlType>mzComboEditor</ControlType>
			<UIType>mz.erp.ui.forms.classes.tsy_TiposDocumentos</UIType>
			<PrimaryKey>IdTipoDocumento</PrimaryKey>
			<Description>Descripcion</Description>
			
		</ControlUIType>
	</ReportParameterConfig>
		<ReportParameterConfig>
		<Nombre>@Documento</Nombre>
		<Descripcion>Numero de Documento del Cliente</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>5</Orden>
		<ControlUIType>
			<LabelText>Documento</LabelText>
			<ControlType>System.String</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdTitular</Nombre>
		<Descripcion>Titular de la Cuenta</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>6</Orden>
		<ControlUIType>
			<LabelText>Titular</LabelText>
			<ControlType>mzComboSearchEditor</ControlType>
			<SearchObject>mz.erp.ui.forms.classes.tsh_Personas</SearchObject>
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@idTipoDomicilio</Nombre>
		<Descripcion>Tipo de Domicilio del Cliente</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>2</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>4</Orden>
		<ControlUIType>
			<LabelText>Tipo de Domicilio</LabelText>
			<ControlType>mzComboEditor</ControlType>
			<UIType>mz.erp.ui.forms.classes.tcs_TiposDomicilios</UIType>
			<PrimaryKey>IdTipoDomicilio</PrimaryKey>
			<Description>Descripcion</Description>
			
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@Activo</Nombre>
		<Descripcion>Cliente Activo</Descripcion>
		<TipoDeDato>Bit</TipoDeDato>
		<Valor>True</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>5</Orden>
	</ReportParameterConfig>

</ParametersSQL>
</ReportConfig>