<?xml version="1.0" encoding="utf-8"?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SQLType>StoredProcedure</SQLType>
<SQL>Pr_tlg_Stock_Reporte</SQL>
<CreatedDateTime>2005-10-18T17:40:00.8739936-03:00</CreatedDateTime>
<ParametersSQL>
	<ReportParameterConfig>
		<Nombre>@Activo</Nombre>
		<Descripcion>Activo</Descripcion>
		<TipoDeDato>Bit</TipoDeDato>
		<Valor>True</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>1</Orden>
		<ControlUIType>
			<LabelText>Activo</LabelText>
			<ControlType>System.Bool</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@Descripcion</Nombre>
		<Descripcion>Descripcion</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor></Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>2</Orden>
		<ControlUIType>			
			<LabelText>Descripcion</LabelText>
			<ControlType>System.String</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdSucursal</Nombre>
		<Descripcion>IdSucursal</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>1</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>3</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdEmpresa</Nombre>
		<Descripcion>IdEmpresa</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>1</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>4</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@Codigo</Nombre>
		<Descripcion>Codigo</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>5</Orden>
		<ControlUIType>			
			<LabelText>Producto</LabelText>
			<ControlType>mzComboSearchEditor</ControlType>
			<SearchObject>mz.erp.ui.forms.classes.tsh_Productos</SearchObject>
		</ControlUIType>
	</ReportParameterConfig>
</ParametersSQL>
</ReportConfig>


