<?xml version="1.0" encoding="utf-8"?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SQLType>StoredProcedure</SQLType>
<SQL>Pr_tfi_Cajas_ConsultaTDCompTesoreria</SQL>
<CreatedDateTime>2005-03-21T10:18:42.8739936-03:00</CreatedDateTime>
<ParametersSQL>
	<ReportParameterConfig>
		<Nombre>@IdMonedaReferencia</Nombre>
		<Descripcion>La moneda de referencha a la cual convertirá los resultados</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>1</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdEntidades</Nombre>
		<Descripcion>El conjunto de entidades al que pertenecen los medios de pago</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>2</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdTDCompTesoreria</Nombre>
		<Descripcion>La lista de los tipos de comprobante de tesoreria a filtrar</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>3</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@FechaDesde</Nombre>
		<Descripcion>La fecha de registración del valor en el sistema</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<Valor>null</Valor>
		<Orden>4</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@FechaHasta</Nombre>
		<Descripcion>La fecha de registración del valor en el sistema</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<Valor>null</Valor>
		<Orden>5</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdPersona</Nombre>
		<Descripcion>La lista de las personas responsables de caja a filtrar</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>6</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@VariableAuxiliar1</Nombre>
		<Descripcion>El nombre de la variable auxiliar 1 a obtener</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>7</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@VariableAuxiliar2</Nombre>
		<Descripcion>El nombre de la variable auxiliar 2 a obtener</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>8</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@VariableAuxiliar3</Nombre>
		<Descripcion>El nombre de la variable auxiliar 3 a obtener</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>9</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@VariableAuxiliar4</Nombre>
		<Descripcion>El nombre de la variable auxiliar 4 a obtener</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>10</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@VariableAuxiliar5</Nombre>
		<Descripcion>El nombre de la variable auxiliar 5 a obtener</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>11</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMinimoVariable1</Nombre>
		<Descripcion>Valor Minimo para la variable 1</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>12</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMinimoVariable2</Nombre>
		<Descripcion>Valor Minimo para la variable 2</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>13</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMinimoVariable3</Nombre>
		<Descripcion>Valor Minimo para la variable 3</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>14</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMinimoVariable4</Nombre>
		<Descripcion>Valor Minimo para la variable 4</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>15</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMinimoVariable5</Nombre>
		<Descripcion>Valor Minimo para la variable 5</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>16</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMaximoVariable1</Nombre>
		<Descripcion>Valor maximo para la variable 1</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>17</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMaximoVariable2</Nombre>
		<Descripcion>Valor maximo para la variable 2</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>18</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMaximoVariable3</Nombre>
		<Descripcion>Valor maximo para la variable 3</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>19</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMaximoVariable4</Nombre>
		<Descripcion>Valor maximo para la variable 4</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>20</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@RangoMaximoVariable5</Nombre>
		<Descripcion>Valor maximo para la variable 5</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>21</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@Estado</Nombre>
		<Descripcion>Determina si filtra solo cajas abiertas</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>22</Orden>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@IdCajas</Nombre>
		<Descripcion>Rango de Cajas a filtrar</Descripcion>
		<TipoDeDato>VarChar</TipoDeDato>
		<Valor>null</Valor>
		<Orden>23</Orden>
	</ReportParameterConfig>

</ParametersSQL>
</ReportConfig>