<?xml version="1.0" encoding="utf-8"?>
<ReportConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<SQLType>StoredProcedure</SQLType>
<SQL>Pr_tsa_ImpuestosComprobantes_GetImpuestosTotalizado</SQL>
<CreatedDateTime>2005-03-21T10:18:42.8739936-03:00</CreatedDateTime>
   <ParametersSQL>
	<ReportParameterConfig>
		<Nombre>@dDesde</Nombre>
		<Descripcion>Representa la fecha de inicio</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<Orden>1</Orden>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<ControlUIType>
			<LabelText>Fecha Desde</LabelText>
			<ControlType>System.DateTime</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
	<ReportParameterConfig>
		<Nombre>@dHasta</Nombre>
		<Descripcion>Reprresenta la fecha de fin</Descripcion>
		<TipoDeDato>DateTime</TipoDeDato>
		<Valor>null</Valor>
		<VariableSistema>false</VariableSistema>
		<Orden>2</Orden>
		<ControlUIType>
			<LabelText>Fecha Hasta</LabelText>
			<ControlType>System.DateTime</ControlType>
		</ControlUIType>
	</ReportParameterConfig>
   </ParametersSQL>
</ReportConfig>